{% extends "base.html.twig" %}

{% block title %}Registrovat{% endblock %}

{% block body %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="text-center">Registrovat se</h3>
        </div>
        <div class="panel-body">
            <a href="{{ path('app_security_login') }}">Zpět na přihlášení</a>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}