{% extends "base.html.twig" %}

{% block title %}Změnit vlastnosti vozidla{% endblock %}

{% block body %}
    <div class="panel panel-info col-sm-8">
        <div class="panel-heading">
            <h3>Změnit vlastnosti vozidla</h3>
        </div>

        <div class="panel-body">
            {{ dump(vehicle) }}
{#            {{ form(form) }}#}
        </div>

    </div>
{% endblock %}